* {
  box-sizing: border-box;
}

body {
  background: rgb(34, 34, 77);
  color: whitesmoke;
  font-family: Arial, sans-serif;
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  display: block;
  height: 8vmin;
}

#game-message {
  padding: 2.5vmin;
}

.center {
  display: block;
  height: 80vmin;
  padding: 2vmax;
}

.bottom {
  display: block;
  height: 8vmin;
  padding-bottom: 4vmax;
}

#play-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .5vmin solid;
  border-color: whitesmoke;
  border-radius: 50%;
  height: 5vmax;
  width: 5vmax;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5vmax 1.5vmax;
}

.grid-cell {
  height: 7.5vmin;
  width: 7.5vmin;
  border: .5vmin solid;
  border-color: whitesmoke;
  border-radius: 5%;
  font-size: 7vmin;
}

.cover {
  font-size: 0;
  background: whitesmoke;
  transition-duration: .2s;
}

@media screen and (max-width: 900px){
  [class="grid-container"] {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: .5vmin .5vmin;
  }

  [class="bottom"] {
    padding-bottom: 2vmax;
    padding-top: 6vmax;
  }
}