* {
  box-sizing: border-box;
}

body {
  background: rgb(34, 34, 77);
  color: whitesmoke;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 15vh;
  width: 90vw;
  transform: translateX(-50%);
}

.bottom {
  position: absolute;
  bottom: 10px;
  right: 7.5%;
  max-height: 15vh;
}

.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  
  max-width: 90vw;
  max-height: 70vh;
  
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5vmax 1.5vmax;
}

.grid-cell {
  height: 6rem;
  width: 6rem;
  border: .2rem solid;
  border-color: whitesmoke;
  border-radius: 5%;
  font-size: 5rem;
}

.cover {
  font-size: 0;
  background: whitesmoke;
  transition-duration: .2s;
}

#play-button {
  border: .1em solid;
  border-color: whitesmoke;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.hidden {
  display: none !important;
}

.install-btn {
  position: absolute;
  bottom: 10px;
  left: 7.5%;
}

@media screen and (max-width: 1150px){

  .grid-cell {
    height: 3rem;
    width: 3rem;
    border: .08rem solid;
    border-color: whitesmoke;
    border-radius: 5%;
    font-size: 3rem;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: .5vmin .5vmin;
  }

  #play-button {
    border: .08em solid;
    border-color: whitesmoke;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
}