* {
  box-sizing: border-box;
}

body {
  background: rgb(34, 34, 77);
  color: whitesmoke;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-self: center;
}

body > div {
  padding: 5px;
  margin: auto;
  height: 100%;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5vmax 1.5vmax;
}

.grid-cell {
  height: 6rem;
  width: 6rem;
  border: .2rem solid;
  border-color: whitesmoke;
  border-radius: 5%;
  font-size: 5rem;
}

.cover {
  font-size: 0;
  background: whitesmoke;
  transition-duration: .2s;
}

#play-button {
  border: .1em solid;
  border-color: whitesmoke;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

@media screen and (max-width: 1150px){

  .grid-cell {
    height: 3rem;
    width: 3rem;
    border: .08rem solid;
    border-color: whitesmoke;
    border-radius: 5%;
    font-size: 3rem;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: .5vmin .5vmin;
  }

  #play-button {
    border: .08em solid;
    border-color: whitesmoke;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }

  .cover {
    font-size: 0;
    background: whitesmoke;
    transition-duration: .2s;
  }
}